
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url('https://img.freepik.com/free-photo/abstract-urban-night-light-bokeh-defocused-background_1421-468.jpg?t=st=1725710763~exp=1725714363~hmac=6485b11c68f9274fa55f533ef36cb7060f8789e9c0f9e91960be55ad876a7fd1&w=1380');
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.account {
    background-color: rgba(183, 196, 200, 0.85);
    text-align: center;
    padding: 40px;
    width: 90%;
    max-width: 450px;
    color: rgb(36, 126, 199);
    border-radius: 30px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.account:hover {
    transform: translateY(-10px);
}

.account h1 {
    color: #fff;
    font-size: 2rem;
    margin-bottom: 10px;
}

.account p {
    color: #eee;
    margin-bottom: 20px;
}

.code {
    border-radius: 10px;
    height: 40px;
    width: 80%;
    padding: 10px;
    border: none;
    margin: 10px 0;
    font-size: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button {
    background-color: #dee4eb;
    border: none;
    color: white;
    padding: 12px 25px;
    text-align: center;
    font-size: 1.1rem;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #9cbfe3;
}

.fa-brands {
    margin: 10px;
    font-size: 20px;
    color: #fff;
    padding: 10px;
    border-radius: 50%;
    background-color: #0077ff;
    transition: transform 0.2s, background-color 0.3s;
}

.fa-brands:hover {
    background-color: #005bb5;
    transform: scale(1.1);
}

.or-divider {
    color: #fff;
    margin: 20px 0;
}

.account u {
    color: rgb(227, 76, 76);
    cursor: pointer;
}

.account u:hover {
    text-decoration: none;
    color: rgb(255, 40, 40);
}
